.task {
    padding: 10px;
    border: 2px groove rgb(218, 218, 218);
    border-radius: 5px;
    color: #5e6c84;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    position: relative;
    cursor: grab;
}

.task__dragged {
   /* width: 26%;*/
    position: absolute;
    z-index: 999;
    cursor: grabbing;
    pointer-events: none;
    transform: rotate(3deg);
}

.close-task-button {
    width: 15px;
    height: 15px;
    background-image: url('/src/img/close_icon.svg');
    background-size: 15px;
    background-position: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:4px;
    right: 5px;
}

close-task-button:hover {
    background-color: rgb(165, 165, 165);
}

.plug {
    background-color: rgba(168, 167, 167, 0.6) ;
    border-radius: 5px;
}